[Unit]
Description=MiGate Service
After=network.target
Wants=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/usr/local/migate
ExecStart=/usr/local/bin/migate --config /etc/migate/panel.json
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
